<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="body">



  <div class="form index-form">
    <header>
      <div class="header">Найменування замовника:</div>
      <div class="header">Найменування виконавця:</div>
      <div class="organization"><textarea name="organization" id="organization" class="required" rows="5" cols="36" placeholder="Введіть найменування організації замовника"></textarea></div>
      <div class="organization">
        <p>Київський науково-дослідний інститут судових експертизи</p>
        <p>Міністерства юстиції України</p>
      </div>
      <div class="adress">адреса: <input name="address" type="text" class="required" placeholder="Введіть адресу замовника"></div>
      <div class="adress">адреса: вул. Смоленська, 6, м. Київ, 03057</div>
    </header>
    <main>
      <div class="doc-name">
        <span>АКТ</span>
        <p>здачі-приймання висновку експерта № <input name="expertuza" type="text" class="required" placeholder="Введіть номер висновку"></p>
        <p>у
          <select class="required" name="zayava" id="zayava">
            <option value="кримінальному провадженні">кримінальному провадженні</option>
            <option value="кримінальній справі">кримінальній справі</option>
            <option value="господарській справі">господарській справі</option>
            <option value="адміністративній справі">адміністративній справі</option>
            <option value="цивільній справі">цивільній справі</option>
          </select> № <input name="provad" type="text" class="required" placeholder="Введіть номер провадження"></p>
        <p>за
          <select class="required" name="type" id="tup">
            <option value="постановою">постановою</option>
            <option value="ухвалою">ухвалою</option>
            <option value="заявою">заявою</option>
          </select>
          <input name="postanova" type="text" class="required" placeholder="Введіть дані замовника"></p>
        <p>від <input name="dataProv" type="date" class="required"></p>
      </div>

      <div class="date"><input name="dataExp" type="date" class="required"></div>

      <div class="parties">
        <div class="text">Представник виконавця, судовий експерт</div>
        <div>
          <div class="underline"><input name="expert" type="text" id="expert" class="required" placeholder="Введіть ПІБ експерта"></div>
          <div class="underline-text">(посада, ПІБ)</div>
        </div>
        <div class="text">з однієї сторони та представник замовника</div>
        <div>
          <div class="underline"><input name="zakaz" type="text" class="required" placeholder="Введіть ПІБ замовника"></div>
          <div class="underline-text">(посада, ПІБ, доручення)</div>
        </div>
      </div>

      <div class="main-text">
        з другої сторони, склали цей акт у тому, що ціна експертизи (дослідження) визначена на підставі вартості однієї експертогодини відповідно до Інструкції про порядок і розміри відшкодування витрат та виплати винагороди особам, що викликаються до органів
        дізнання, попереднього слідства, прокуратури, суду або органів, у провадженні яких перебувають справи про адміністративні правопорушення, та виплати державним науково-дослідним установам судової експертизи за виконання їх працівниками функцій
        експертів і спеціалістів, затвердженої постановою Кабінету Міністрів України від 01.07.1996 р. №710.
      </div>

      <div class="table">
        <div class="difficulty">Категорія складності:</div>
        <div class="underline row1">
          <select class="required" name="skladnist" id="skladnist">
            <option value="проста">проста</option>
            <option value="середня">середня</option>
            <option value="складна">складна</option>
          </select> (143.00 грн/год)</div>
        <div class="start-work">Приступив до роботи:</div>
        <div class="underline row2-1"><input name="dataStart" type="date" class="required"></div>
        <div class="end-work">Закінчив роботу:</div>
        <div class="underline row2-2"><input name="dataFinish" type="date" class="required"></div>
        <div class="time-spent">Затрачено годин:</div>
        <div class="underline row3"><input name="hours" type="number" class="required" id="workHours" placeholder="Введіть кількість годин"></div>
        <div class="price">Ціна складає:</div>
        <div>
          <div class="underline row4" id="sum">0.00 (0 &times; 143.00)</div>
          <div class="underline-text">(затрачений час * на вартість експертогодини+20%)</div>
        </div>
        <div class="underline row5" id="sumWords">(нуль грн 00 коп)</div>
        <div class="paid">Наперед сплачено:</div>
        <div>
          <div class="underline row6"><input name="napered" type="text" class="notRequired" placeholder="Введіть сплачену суму"></div>
          <div class="underline-text">(сума вказується цифрами і прописом)</div>
        </div>
        <div class="need-to-pay">Належить до перерахування:</div>
        <div>
          <div class="underline row7"><input name="pereraxyn" type="text" class="required" placeholder="Введіть суму до перерахування"></div>
          <div class="underline-text">(сума вказується цифрами і прописом)</div>
        </div>
        <div class="pdv">ПДВ 20%</div>
        <div>
          <div class="underline row8"><input name="pdv" type="text" class="notRequired" placeholder="Введіть суму ПДВ"></div>
          <div class="underline-text">(сума вказується цифрою)</div>
        </div>
      </div>
    </main>
    <footer>
      <div class="date">
        Замовник не має претензій щодо повернення матеріалів та речових доказів
      </div>
      <div class="signatures">
        <div class="date work-done">Роботу здав:</div>
        <div class="expert" id="expert2">_____________ </div>
        <div class="date work-accepted">Роботу прийняв:</div>
        <div>_____________</div>
      </div>
    </footer>
  </div>


  <button class="link" type="submit" id="link">GEN PDF</button>
  <div class="example">
    <div class="req">Обов'язково</div>
    <div class="notReq">Необов'язково</div>
  </div>
  <script type="text/javascript" src="/js/script.js"></script>

</body>

</html>
