<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/resume.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="avatar">
        <img src="./img/avatar.jpg" alt="avatar">
      </div>
      <div class="header__info">
        <h1>Valentyn Mikoliuk</h1>
        <h2>JavaScript developer</h2>
      </div>
    </header>
    <nav>
      <div class="nav__left">
        <span class="calendar">
          <img src="./icons/calendar.svg" alt="calendar">
          26 November, 1990
        </span>
        <span class="location">
          <img src="./icons/location.svg" alt="location">
          Kyiv, Ukraine
        </span>
        <a target="_blank" href="https://t.me/Hydrophonix" class="phone">
          <img src="./icons/phone.svg" alt="phone">
          +38 063 139 04 49 (+ Telegram)
        </a>
      </div>
      <div class="nav__right">
        <a href="mailto:hydrophonixfx@gmail.com" class="mail">
          <img src="./icons/mail.svg" alt="mail">
          hydrophonixfx@gmail.com
        </a>
        <a href="skype:hydrophonixgtr?call" class="skype">
          <img src="./icons/skype.svg" alt="skype">
          hydrophonixgtr
        </a>
        <a target="_blank" href="https://github.com/Hydrophonix" class="github">
          <img src="./icons/github.svg" alt="github">
          github.com/Hydrophonix
        </a>
      </div>
    </nav>
    <main>
      <div class="main__left">
        <div class="education">
          <h3>EDUCATION</h3>
          <span>Photonics</span>
          <p>NTUU “Igor Sikorsky Kyiv Politechnic Institute”, Faculty of Instrumentation Engineering, Department of Optical and Optoelectronic Instruments (OOEP)</p>
          <i>2011 – 2017</i>
        </div>
        <div class="work">
          <h3>WORK EXPERIENCE</h3>
          <span>Judicial Expert</span>
          <p>Kyiv Research Institute of Forensic Expertise (KFI)</p>
          <i>01/2016 – 2/2018</i>
          <div class="line"></div>
          <span>JavaScript developer, projects:</span>
          <p>CRM and "injector" script with functionality to add hints/tutorials to other webpages. </p>
          <p>Tech: JS, React, Redax, Apollo, GraphQL, Styled-Components, Node.js, Prisma, MySQL</p>
          <p>Responsibility: "Injector" functionality logic, frontend, some backend (mailing, Stripe subscriptions)</p>
          <i>06/2018 – 01/2019</i>
          <div class="line"></div>
          <p>CRM and mobile app for food service</p>
          <p>Tech: JS, React, Redax, Apollo,GraphQL, Styled-Components, Node.js, Prisma, MySQL, React-Native</p>
          <p>Responsibility: frontend, some backend, mobile app (screens, logic, QR codes)</p>
          <i>01/2019 – 05/2019</i>
          <div class="line"></div>
          <p>CRM for IoT system</p>
          <p>Tech: JS, React, Redax (Saga), Styled-Components, Node.js, NestJS, TypeScript</p>
          <p>Responsibility: frontend, some backend</p>
          <i>05/2019 – 07/2019</i>
          <div class="line"></div>
          <p>CRM for building business</p>
          <p>Tech: JS, React, Redax (Thunk), Styled-Components, React-Native, Firebase, Heroku </p>
          <p>Responsibility: some frontend, mobile app, report generating & mailing logic, some BA</p>
          <i>07/2019 – 11/2019</i>
          <div class="line"></div>
          <p>Own CRM for film industry </p>
          <p>Tech: TS, React, Apollo, Styled-Components, GraphQL, Node.JS, NestJS, TypeORM, PostreSQL </p>
          <p>Responsibility: frontend, backend, BA, DevOps</p>
          <i>02/2020 – current time</i>
        </div>

      </div>
      <div class="main__right">
        <div class="lagnuages">
          <h3>LANGUAGES</h3>
          <p>
            <b>Ukrainian</b> - native <br>
            <b>Russian</b> - native   <br>
            <b>English</b> - intermediate/upper-intermediate
          </p>
        </div>
        <div class="tech__skill">
          <h3>TECH SKILLS</h3>
          <div class="skills">
            <div>HTML5</div>
            <div>CSS3</div>
            <div>JS(ES next)</div>
            <div>TypeScript</div>
            <div>React</div>
            <div>React Native</div>
            <div>Redux (Saga)</div>
            <div>GraphQL</div>
            <div>Apollo (React, Server)</div>
            <div>Node.js</div>
            <div>Express</div>
            <div>Prisma</div>
            <div>NestJS</div>
            <div>TypeORM</div>
            <div>Webpack</div>
            <div>Docker</div>
          </div>
        </div>
        <div class="soft__skill">
          <h3>SOFT SKILLS</h3>
          <div class="skills">
            <div>Teamwork</div>
            <div>Flexibility</div>
            <div>Adaptability</div>
            <div>Communication</div>
            <div>Creativity</div>
            <div>Problem solving</div>
            <div>Analytical thinking</div>
          </div>
        </div>
        <div>
          <h3>INTERESTS</h3>
          <div class="interests">
            <div>Music</div>
            <div>Cycling</div>
            <div>Self development</div>
            <div>Philosophy</div>
          </div>
        </div>
        <div class="objective">
          <h3>OBJECTIVE</h3>
          <p>
            Professional growth, clean code and high-quality product. 
          </p>
        </div>
      </div>
    </main>
  </div>
</body>

</html>
