<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/resume.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="avatar">
        <img src="./img/avatar.jpg" alt="avatar">
      </div>
      <div class="header__info">
        <h1>Valentyn Mikolyuk</h1>
        <h2>JavaScript developer</h2>
      </div>
    </header>
    <nav>
      <div class="nav__left">
        <span class="calendar">
          <img src="./icons/calendar.svg" alt="calendar">
          26 November, 1990
        </span>
        <span class="location">
          <img src="./icons/location.svg" alt="location">
          Kyiv, Ukraine
        </span>
        <span class="phone">
          <img src="./icons/phone.svg" alt="phone">
          +38 063 139 04 49 (+ Telegram)
        </span>
      </div>
      <div class="nav__right">
        <a href="mailto:hydrophonixfx@gmail.com" class="mail">
          <img src="./icons/mail.svg" alt="mail">
          hydrophonixfx@gmail.com
        </a>
        <a href="skype:hydrophonixgtr?call" class="skype">
          <img src="./icons/skype.svg" alt="skype">
          hydrophonixgtr
        </a>
        <a  target="_blank" href="https://github.com/Hydrophonix" class="github">
          <img src="./icons/github.svg" alt="github">
          github.com/Hydrophonix
        </a>
      </div>
    </nav>
    <main>
      <div class="main__left">
        <div class="education">
          <h3>EDUCATION</h3>
          <span>Photonics</span>
          <p>NTUU “Igor Sikorsky Kyiv Politechnic Institute”, Faculty of Instrumentation Engineering, Department of Optical and Optoelectronic Instruments (OOEP)</p>
          <i>2011 – 2017</i>
        </div>
        <div class="work">
          <h3>WORK EXPERIENCE</h3>
          <span>Judicial Expert</span>
          <p>Kyiv Research Institute of Forensic Expertise, Laboratory of Criminalistic Researches, Speech and Audio, Computer Engineering and Telecommunication Examinations</p>
          <i>01/2016 – 2/2018</i>
          <div class="line"></div>
          <span>JavaScript developer</span>
          <p>AgileNix</p>
          <i>06/2018 – 04/2019</i>
        </div>
        <div class="objective">
          <h3>OBJECTIVE</h3>
          <p>
            Professional growth, clean code and high-quality product. 
          </p>
        </div>
      </div>
      <div class="main__right">
        <div class="lagnuages">
          <h3>LANGUAGES</h3>
          <p>
            <b>Ukrainian</b> - native <br>
            <b>Russian</b> - native   <br>
            <b>English</b> - intermediate
          </p>
        </div>
        <div class="tech__skill">
          <h3>TECH SKILLS</h3>
          <div class="skills">
            <div>HTML5</div>
            <div>CSS3</div>
            <div>JS(ES 2018)</div>
            <div>React</div>
            <div>React Native</div>
            <div>Redux</div>
            <div>GraphQL</div>
            <div>Apollo</div>
            <div>Prisma</div>
            <div>Node.js</div>
            <div>Express</div>
            <div>Webpack</div>
          </div>
        </div>
        <div class="soft__skill">
          <h3>SOFT SKILLS</h3>
          <div class="skills">
            <div>Teamwork</div>
            <div>Flexibility</div>
            <div>Adaptability</div>
            <div>Communication</div>
            <div>Creativity</div>
            <div>Problem solving</div>
          </div>
        </div>
        <div>
          <h3>INTERESTS</h3>
            <div class="interests">
              <div>Gaming</div>
              <div>Music</div>
              <div>Cycling</div>
              <div>Kitchen philosophy</div>
            </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>
