@page {
  size: 210mm 297mm;  /* A4 */
  margin: 0;
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../fonts/HelveticaNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.wrapper {
  font-family: 'Helvetica Neue Bold', Tahoma, sans-serif;
  font-weight: 500;
  font-size: 17px;
  box-sizing: border-box;
  width: 210mm;
  height: 297mm;
  background-color: #FAFAFA;
}

header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 0 25px;
  width: 100%;
  box-sizing: border-box;
  height: 200px;
}

.avatar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 150px;
  height: 200px;
}

.avatar img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}

.header__info {
  padding: 25px;
  box-sizing: border-box;
}

.header__info h1 {
  font-size: 35px;
  font-weight: normal;
}

.header__info h2 {
  padding-top: 10px;
  color: #3f59a8;
  font-weight: normal;
}

nav {
  box-sizing: border-box;
  padding: 25px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #3f59a8;
  color: #FFF;
}

.nav__left, .nav__right,
.main__left, .main__right {
  width: 50%;
  box-sizing: border-box;
}

.main__left {
  padding-right: 20px;
}

.flex {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  margin-bottom: 250px;
}

.skype,
.location,
.mail,
.phone,
.linkedin,
.calendar,
.github {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 20px;
  font-weight: normal;
}

.skype img,
.location img,
.mail img,
.phone img,
.calendar img,
.linkedin img,
.github img
 {
  max-width: 20px;
  height: auto;
  margin-right: 15px;
}

.github,
.skype,
.mail,
.linkedin,
.phone {
  text-decoration: none;
  color: #FFF;
}

main {
  box-sizing: border-box;
  padding: 25px;
}

.education,
.work,
.lagnuages,
.tech__skill,
.soft__skill {
  margin-bottom: 10px;
}

main h3 {
  color: #3f59a8;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

main span {
  font-size: 16px;
  line-height: 18px;
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

main p {
  font-family: 'Helvetica Neue Regular', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.7px;
  margin: 5px 0;
  line-height: 16px;
}


main i {
  font-size: 16px;
  line-height: 18px;
  color: #3f59a8;
  font-style: italic;
}

main b {
  font-size: 14px;
  font-family: 'Helvetica Neue Bold', Tahoma, sans-serif;
  font-weight: bold;
}

.line {
  height: 3px;
  background-color: #3f59a8;
  margin: 10px 0;
}

main ul {
  list-style-type: disc;
  padding-left: 8px;
}

main ul li {
  font-family: 'Helvetica Neue Regular', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 16px;
  list-style-position: inside;
}

.skills,
.interests {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills div {
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: #3f59a8;
  color: #fff;
}

.interests div {
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 2px solid grey;
}

.objective {
  margin-top: 40px;
  margin-bottom: 10px;
} 